* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  box-sizing: border-box;
  max-height: 500px;
  overflow: auto;
  padding: 15px;
  margin: 0px;
}

p.invalid {
  margin: 15px;
  width: 300px;
  color: gray;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0;
  margin: 0;
}

li>div.container {
  /* margin: 10px; */
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  /* flex-direction: row;
  flex-wrap: wrap; */

  width: 500px;

  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 4px;

  transition-duration: 0.5s;
}

li>div.container:hover {
  background-color:rgb(235, 248, 253);
  border-color: lightblue;
  cursor: pointer;
}

span.info {
  /* take entire first row */
  flex: 1 80%;
  margin: 10px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

li>div.container:hover>.btn {
  display: block;
}

/* li>div.container:hover>.btn-disabled {
  display: block;
} */

.container .btn {
  display: none;
  flex: 1 auto;
  margin: 0px 10px 10px 10px;
  padding: 5px 15px;
  border: 1px solid rgb(20, 119, 212);
  color: rgb(20, 119, 212);
  border-radius: 4px;

  text-align: center;
  user-select: none;

  transition-duration: 0.5s;

  cursor: pointer;
}

.container .btn.disabled {
  border: 1px solid gray;
  color: gray;
  cursor: not-allowed;
}

.container .btn:hover {
  background-color: rgb(20, 119, 212);
  color:white
}

.container .btn.disabled:hover {
  background-color: gray;
  color:white
}

#options {
  margin: 15px;
  margin-bottom: 30px;
  padding: 0;
}

#options span.btn {
  margin-right: 15px;
  padding: 5px 15px;
  border: 1px solid rgb(20, 119, 212);
  color: rgb(20, 119, 212);
  border-radius: 4px;

  transition-duration: 0.5s;

  cursor: pointer;
}

#options span.btn:hover {
  background-color: rgb(20, 119, 212);
  color:white
}
